body {
  font-family: "Quicksand", sans-serif;
  display: flex;
  flex-direction: column;
}

.App {
  text-align: center;
  border: solid 2px;
  border-radius: 5px;
  margin: 100px 150px 0 150px;
  padding-bottom: 25px;
}

.search {
  margin-top: 50px;
  padding: 10px 40px;
  border: none;
  background-color: rgb(227, 236, 243);
  border-radius: 5px;
}

.submitButton {
  padding: 10px 15px;
  margin-left: 10px;
  margin-top: 50px;
  background-color: aquamarine;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submitButton:hover {
  background-color: mediumaquamarine;
}

.weatherInfoList  .currentTemp {
  font-size: 35px;
  font-weight: bold;
  margin: 10px 0;
}

.weatherResult {
  margin-top: 30px;
}

.weatherInfoList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.weatherInfoList li {
  margin: 10px 0;
  font-size: 18px;
}

.weatherInfoList img {
  width: 80px;
  height: 80px;
}

.days ul {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 25px;
  padding-top: 25px;
  margin: 0;
}

.days li {
  border: solid 1px;
  border-radius: 5px;
  padding: 8px;
  background-color: #ffffffdd;
  transition: background 0.3s;
}
